:root{
  /*Primary*/
  
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
    
  /*Neutral*/
  
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

/*Typography*/ 

/*Headings*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*Body*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
    
    
/*buttons*/
.btn-container{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.btn{
  background-color: white;
  border: 2px solid var(--light-pink);
  border-radius: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--light-pink);
}

.btn-2{
  background-color: var(--light-pink);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: none;
}
    
